* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica','Arial', 'sans-serif';
}

body {
    padding: 20px;
    max-width:1200px;
    margin: auto;
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 32px;
    padding: 20px;
    border-radius: 8px;
    font-weight:100;
}

.recipe-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap:wrap;
  padding-top: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 2px;
  text-align: center;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease;
  margin: 16px;
}

/* Card hover effect */
.card:hover {
  transform: translate(-8px);
  box-shadow: 0 8px 24px rgba(252, 139, 0, 0.2);
  border-color: orange;
}

/* Link inside card */
.card a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  height: 100%;
}

/* Image inside card */
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Recipe name (h2) */
.card h2 {
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight:100;
  font-size:24px;
  padding: 8px;
}

/* Recipe name on hover */
.card:hover h2 {
  color: orange;
}